@import-normalize;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background: rgb(215, 173, 244);
background: linear-gradient(90deg, rgba(215, 173, 244, 1) 0%, rgba(201, 219, 255, 1) 50%, rgba(242, 128, 220, 1) 100%);}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 500;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-button-color);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}